name: PR Checks

on:
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - '**/*.md'

permissions: {}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d # v1.3.1

      - run: npx oxlint@latest . --format github
